body {
  font-family: sans-serif;
  margin-left: 30px;
}

h1 {
  text-align: center;
}

hr {
  margin: 100px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
img {
  margin: 30px;
}

figcaption {
  text-align: center;
}

.original {
  border: solid blue 10px;
}
.transform10 {
  transform: rotate(10deg);
}

.transform30 {
  transform: rotate(30deg);
}

.transformNeg30 {
  transform: rotate(-30deg);
}

.transformNeg10 {
  transform: rotate(-10deg);
}

.transform90 {
  transform: rotate(90deg);
}

.transformNeg90 {
  transform: rotate(-90deg);
}

.blur2 {
  filter: blur(2px);
}

.blur10 {
  filter: blur(10px);
}

.blur20 {
  filter: blur(20px);
}

.blur35 {
  filter: blur(35px);
}

.blur50 {
  filter: blur(50px);
}

.gray30 {
  filter: grayscale(30%);
}

.gray50 {
  filter: grayscale(50%);
}

.gray70 {
  filter: grayscale(70%);
}

.gray90 {
  filter: grayscale(90%);
}

.gray100 {
  filter: grayscale(100%);
}

.bright200 {
  filter: brightness(200%);
}

.bright300 {
  filter: brightness(300%);
}

.bright80 {
  filter: brightness(80%);
}

.bright50 {
  filter: brightness(50%);
}

.bright30 {
  filter: brightness(30%);
}

.bright10 {
  filter: brightness(10%);
}

.sat300 {
  filter: saturate(300%);
}

.sat200 {
  filter: saturate(200%);
}

.sat400 {
  filter: saturate(400%);
}

.sat10 {
  filter: saturate(10%);
}

.contrast400{
  filter:contrast(400%)
}

.contrast300{
  filter: contrast(300%);
}

.contrast200{
  filter: contrast(200%);
}

.contrast80{
  filter: contrast(80%);
}

.contrast50{
  filter: contrast(50%);
}

.contrast30{
  filter: contrast(30%);
}

.contrast10{
  filter: contrast(10%);
}

.multi-filter1{
  filter: saturate(80%) brightness(110%) contrast(110%);
}

.multi-filter2{
  filter: saturate(150%) brightness(75%) contrast(80%);
}

.multi-filter3{
  filter: saturate(90%) brightness(120%) contrast(200%);
}
